<template>
  <div class="q-px-lg">
    <div class="row">
      <h6>Filter type</h6>
      <q-select
        v-model="filterType"
        :options="filterTypeOptions"
        style="max-width:200px;"
      />
    </div>
    <h6>Frequency</h6>
    <q-slider
      v-model="frequency"
      label-always
      :label-value="frequency + 'hz'"
      :min="10"
      :max="20000"
      style="width:800px;"
    />
    <h6>Q</h6>
    <q-slider
      v-model="Q"
      label-always
      :label-value="Q"
      :min="0"
      :max="5"
      :step="0.01"
      style="width:800px;"
    />
    <h6>Gain</h6>
    <q-slider
      v-model="gain"
      label-always
      :label-value="gain + 'dB'"
      :min="-12"
      :max="12"
      :step="0.01"
      style="width:800px;"
    />
    <div class="row">
      <h6>Rolloff</h6>
      <q-select
        v-model="rolloff"
        :options="rolloffOptions"
        style="max-width:200px;"
      />
    </div>
    <canvas
      id="canvas"
      width="800"
      height="200"
    ></canvas>
  </div>
</template>

<script>
import { throttle } from 'quasar'
import * as Tone from 'tone'

const NUMBER_OF_FREQUENCY_BANDS = 512

export default {
  data () {
    return {
      frequency: 1000,
      Q: 1,
      filterType: "notch",
      gain: 4,
      rolloff: -12,
      filterTypeOptions: ["lowpass", "highpass", "bandpass", "lowshelf", "highshelf", "notch", "allpass", "peaking"],
      rolloffOptions: [-12, -24, -48, -96]
    }
  },
  watch: {
    frequency () {
      this.draw()
    },
    Q () {
      this.draw()
    },
    filterType () {
      this.draw()
    },
    gain () {
      this.draw()
    },
    rolloff () {
      this.draw()
    }
  },
  mounted () {
    this.draw = throttle(this.draw, 100)
    this.draw();
  },
  methods: {
    draw () {
      const filter = new Tone.Filter()
      filter.type = this.filterType
      filter.frequency.value = this.frequency
      filter.gain.value = this.gain
      filter.Q.value = this.Q
      filter.rolloff = this.rolloff // -12, -24, -48, -96
      let freqResponse = filter.getFrequencyResponse(NUMBER_OF_FREQUENCY_BANDS)
      console.log('freqResponse', freqResponse);

      let canvasWidth = 800
      let canvasHeight = 200
      let minFrequency = 10
      let maxFrequency = 22100
      let maxDb = 80
      let minDb = -80
      let canvasElement = document.getElementById("canvas")
      let canvasCtx = canvasElement.getContext("2d")

      // Calculate the draw steps
      var stepX = canvasWidth / (maxFrequency - minFrequency);
      var stepY = canvasHeight / (maxDb - minDb);

      // Clear the canvas
      canvasCtx.fillStyle = "#f0f0f0";
      canvasCtx.fillRect(0, 0, canvasWidth, canvasHeight);

      var firstPt = true;
      canvasCtx.beginPath();

      for (var i = 1; i <= freqResponse.length - 1; i++) {
        //var x = Math.round((myFrequencyArray[i] - minFrequency) * stepX);
        var x = Math.round(i * (canvasWidth / freqResponse.length));
        var y = canvasHeight - Math.round((this.convertMagToDb(freqResponse[i]) - minDb) * stepY);
        console.log(((20000 / NUMBER_OF_FREQUENCY_BANDS) * i) + 'Hz, x', x, 'y', y, this.convertMagToDb(freqResponse[i]), 'Db');
        if (firstPt) {
          firstPt = false;
          canvasCtx.moveTo(x, y);
        } else {
          canvasCtx.lineTo(x, y);
        }
      }
      canvasCtx.strokeStyle = '#ff0000';
      canvasCtx.stroke()

      var neutralY = canvasHeight -
        Math.round((0 - minDb) * stepY);

      canvasCtx.beginPath();
      canvasCtx.moveTo(0, neutralY);
      canvasCtx.lineTo(canvasWidth, neutralY);
      canvasCtx.strokeStyle = "#3030ff";  // blue line
      canvasCtx.stroke();
    },
    convertMagToDb (mag) {
      return Math.log(mag) * 20
    }
  }

}
</script>
<style lang="scss">
h6 {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
}
</style>
